body {
    margin:0px;
    /* prevent from scroll down refresh */
    overflow: hidden;
    touch-action: none;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}


/* Marsonry has no public props to control ScrollContainer 
   temporarily set its style by class
*/

.ReactVirtualized__Masonry__innerScrollContainer{
    margin: 10px;
}


/*  
    override Leaflet default icon style
 */
.custom-leaflet-icon{
    border: 0px
}


/* override Swiper default bullet style */
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-color: white;
    opacity: 0.6;
}

